*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e34467;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{
    outline: none;
}

.login{
    display: flex;
    background-color: #fff;
    width: 700px;
    height: 450px;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 7px 7px 7px 6px rgba(0,0,0, .5);
}

.login .esquerda{
    width: 50%;
}
.login .direita{
    width: 50%;
}

.login h1{
    text-align: center;
    margin-bottom:20px;
    font-size: 2rem;
}

.login img{
    width: 350px;
    height: 450px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login form{
    margin-top: 80px;
    padding: 18px;
    text-align: center;
}

.login a, p{
    color: #000;  
    font-size: 1rem; 
   
}

input[type="email"], 
input[type="password"],
input[type="text"],
input[type="date"]{
    border-bottom:  2px solid #e34467;
    margin: 0px 30px 12px 30px;
    font-size: 1rem;
}

.button{
    background-color: #e34467;
    height: 35px;
    width: 240px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
}

.login .button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button:hover{
    background-color: #f76f8d;
    transition: 1s;
}

input[type="radio"]{
    width: 30px;
    height: 15px;
    background-color: #e34467;
    border: 1px solid #e34467;
}

input [type="checkbox"]{
    border: 2px red solid; 
}


.caixa{
    width: 240px;
    height: 30px;
    margin: 10px;
    border: none;
}

input [type=radio]{
    display: block;
    height: 30px;
    width: 30;
    border: none;
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;

}
a:hover{
    text-decoration: underline;

}

.msg-sucesso{
    width: 350px;
    z-index: 1;
    padding: 20px;
    background-color: #28a745;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    bottom: 15px;
    color: rgb(2555,255,255);
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    right: 10px;
    height: 20px;
    padding-left: 40px;
}

.msg-sucesso ion-icon{
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 26%;

}

.msg-erro ion-icon{
   font-size: 25px;
    position: absolute;
    left: 10px;
    top: 26%;

}

.msg-erro {
    width: 350px;
    z-index: 1;
    padding: 20px;
    background-color: #eb5c6c;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    bottom: 15px;
    color: rgb(2555,255,255);
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    right: 10px;
    height: 20px;
    padding-left: 40px;
    opacity: 0;
}


/*Cadastro*/

.caixa-cadastro{
    width: 400px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 400px;
    margin-bottom: 200px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.caixa-cadastro h1{
    margin-bottom: 40px;
    margin-top: 20px; 
}

.radio-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio-button label{
    display: flex;
    margin-left: 70px;
}   

.caixa-cadastro .button{
    margin-top: 30px;
}

.caixa-cadastro fieldset{
    border:2px solid #e34467;
    padding: 30px;
    margin: 0px 30px 20px 30px;
    border-radius: 10px;
}

.caixa-cadastro fieldset legend{
    text-align: left;
    padding: 10px;
}

.caixa-cadastro 
input[type="email"],
.caixa-cadastro  
input[type="password"],
.caixa-cadastro 
input[type="text"],
.caixa-cadastro 
input[type="date"]{
    border-bottom:  2px solid #e34467;
    font-size: 16px;
    margin-bottom: 20px;
}

hr{
 margin: 10px 10px 0px 10px;
}

.checkbox-interesse{
    margin-top: 20px;
    padding-top: 10px;
}

.checkbox-interesse p{
    color: #666;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;

}
.checkbox-interesse input[type="checkbox"]{

}

.btn.active{
  background-color:green;
  outline: none;
}
