body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: Calibri;
  background-color: #f9f9f9;
}

/*Barra Superior*/
.superior{
  background: #e34467;
  padding: 5px;
  width: 100%;
  height: 35px;
}

.superior ion-icon{
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 20px;
  position: relative;
}

.superior ion-icon:hover{
  color: black;
  transition: .5s;
}

/*Menu Lateral*/
.lateral{
  width: 219px;
  min-height: 590px;
  top: 36px;
  background-color: #e34467;
  color: #fff;
}

.lateral h3,h4{
  margin: 0px;
  padding: 0px;
}

.lateral .user{
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #ed2651;
  
}
.lateral .user ion-icon{
  font-size: 60px;
}

.lateral .user .user_details{
  display: flex;
  padding: 5px 0px 5px 5px;
}

.lateral .user .user_info{
  margin-top: 13px;
  margin-left: 3px;
}
/*superior, direita, inferior e esquerda*/

.lateral .user .user_info h3{
  font-size: 16px;
  font-weight: bold;
}

.lateral .user .user_info h4{
  font-size: 13px;
  font-weight: 300;
  margin-top: -2px;
}

.lateral .options ul{
  list-style: none;
  padding: 0px;
}

.lateral .options ul li{
  color: #fff;
  display: flex;
  padding-left: 15px;
}

.lateral .options ul a:hover li{
  border-left: 3px solid #fff;
}

.lateral .options a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.lateral .options ion-icon{
  font-size: 28px;
  color: #fff;
  margin-top: 5px;
}

.lateral .options p{
  margin-top: 9px;
  margin-left: 5px;
}

.principal{
    display: flex;
}

.conteudo{
  background-color: #f9f9f9;
  width:100%;
}

.meu_perfil{
  background-color: #fff;
  border: 2px solid #dcdcdc;
  width: 320px;
  border-radius: 10px;
  top:20px;
  right: 100px;
  position: relative;
  float: right;
}

.meu_perfil .info{
  padding: 10px 15px 2px 15px;
}

.meu_perfil .font-h1{
  font-size: 23px;
  margin: 0px;
  padding: 0px;
  color: #ed2651;
  margin-bottom: 5px;
}

.meu_perfil .font-h2{
  font-size: 23px;
  margin: 0px;
  padding: 0px;
  color: #666;
  font-weight: 100;
}

.meu_perfil .font-h3{
  color: #545353;
  font-weight: 500;
  margin: 15px 0px 5px 0px;
  padding: 0px;
   font-size: 17px;
}

.meu_perfil .font-h4{
  color: #9c9c9c;
  font-weight: 100;
  font-size: 16px;
  display: flex;
  padding: 0px;
  margin: -5px;
  margin-top: 2px;
}

.meu_perfil .font-h4 h4{
  padding: 0px;
  margin: -10px;
}

.meu_perfil .font-h4 ion-icon {
  margin-right: 5px;
  padding: 5px;
}

.meu_perfil p{
  color: #9c9c9c;
  font-weight: 100;
  margin: 0px;
}

.meu_perfil .primeiro_dado{
  display: flex;
}
.meu_perfil .fotos{
  width: 320px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.meu_perfil .fotos img{
  width: 100%;
  height: 400px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}