html{
   background-color: #f9f9f9;
}

body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Calibri;
  background-color: #f9f9f9;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/*Barra Superior*/
.superior{
  width: 100%;
  background-color: #f9f9f9;
  margin-top: 0px;
}

.superior ul {
    display: flex;
    margin: 0 auto;
    /* text-align: center; */
    width: 300px;
    margin-top: 30px;
    padding: 0px;
    align-content: space-between;
}

.superior ul li {
    padding: 0px;
    list-style: none;
    /* align-content: space-between; */
    padding: 0 15px 0 15px;
}

.superior a {
    /* list-style: none; */
    /* margin: 0 auto; */
    color: transparent;
    align-content: space-between;
} 

.superior ul li.active ion-icon{
  color: #ed2651;
}


.superior ion-icon{
  font-size: 30px;
  color:  #bfbfbf;
}


.superior ion-icon:hover{
  color: #ed2651;
}

.principal{
    display: flex;
}

.conteudo{
  background-color: #f9f9f9;
  width:100%;
}

.conteudo main {
    margin: 0 auto;
    background-color: #f9f9f9;
    padding-top: 15px;
}

.conteudo a{
  text-align: center;
}


.meu_perfil{
  scrollbar-width: none;
  border: 2px solid #dcdcdc;
  width: 300px;
  height: 450px;
  border-radius: 12px;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.meu_perfil .info{
  padding: 10px 15px 2px 15px;
}

.meu_perfil .font-h1{
  font-size: 23px;
  margin: 0px;
  padding: 0px;
  color: #ed2651;
  margin-bottom: 5px;
}

.meu_perfil .font-h2{
  font-size: 23px;
  margin: 0px;
  padding: 0px;
  color: #666;
  font-weight: 100;
}

.meu_perfil .font-h3{
  color: #545353;
  font-weight: 500;
  margin: 15px 0px 5px 0px;
  padding: 0px;
   font-size: 17px;
}

.meu_perfil .font-h4{
  color: #9c9c9c;
  font-weight: 100;
  font-size: 16px;
  display: flex;
  padding: 0px;
  margin: -5px;
  margin-top: 2px;
}

.meu_perfil .font-h4 h4{
  padding: 0px;
  margin: -10px;
}

.meu_perfil .font-h4 ion-icon {
  margin-right: 5px;
  padding: 5px;
}

.meu_perfil p{
  color: #9c9c9c;
  font-weight: 100;
  margin: 0px;

}

.meu_perfil .primeiro_dado{
  display: flex;
  margin-top: -5px;
  margin-bottom: 5px;
}

.meu_perfil .fotos{
  width: 300px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.meu_perfil .fotos img{
  width: 100%;
  height: 400px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}


.bnt{
  width: 120px;
  height: 40px;
  background-color: #ed2651;
  text-align: center;
  font-size: 15px;
  border:  0px;
  border-radius: 5px ;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}

#sair{
  padding: 10px 14px 10px 14px;
  color: #fff;
  text-decoration: none;
  margin-top: -30px;
  left: 31%;
  position: relative;
}
#deletar{
   background-color: transparent;  
   color: #ed2651;  
}

#sair:hover{
  background-color: #fff;
  color: #ed2651;
  width: 118px;
  height: 38px;
  border: 1px solid #ed2651;
  transition: .1s;
}

#deletar:hover{
text-decoration: underline;
}

.config form{
  text-align: center;
}

.btn-circle{
  background-color: #ed2651;
  color: #fff;
  border: 0px;
  font-size: 25px;
  border-radius: 50%;
  width: 50px;
  height: 55px;
}

.meu_perfil .btn-circle{
  float: right;
  margin-top:-65px ;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
}

.meu_perfil .btn-circle:hover{
color: #fff;
}

.sucesso{
    width: 350px;
    z-index: 1;
    padding: 20px;
    background-color: #28a745;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    bottom: 15px;
    color: rgb(2555,255,255);
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    right: 10px;
    height: 20px;
    padding-left: 40px;
}


.sucesso ion-icon{
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 26%;

}

.editar{
    width: 200px;
    height: 32px;
    background-color: #ed2651;
    text-align: center;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 30px;
}

.editar:hover{
  background-color: #fff;
  color: #ed2651;
  border: 1px solid #ed2651;
  transition: .1s;
}

